#image-carousel {
    height: 150;
    display: block;
    max-width: 400;
    overflow: hidden;
    width: stretch;
}

@media (max-height: 568px) {
    #image-carousel {
      text-align: center !important;
      height: 100
    }
  }