.button-first {
  width: 90%;
  max-width: 380px;
  background-color: red;
  text-align: center
}
.home {
  text-align: center;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  display: inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  justify-content: center;
  background-color: #282c34;
  width: stretch;
  margin: 0 auto;
  padding: 0;
}

.home p {
  font-family: 'Merienda', cursive;
}

.carousel-center {
  margin: auto;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 600;
  width: stretch;
  
  min-height: 100vh;
  background-color: #282c34;
  
}