@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
    #socmed-image {
        height: 35px;
        width: 35px;
    }
  }
  
  @media (min-height : 570px) and (min-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
    #socmed-image {
        height: 35px;
        width: 35px;
    }
  }


@media (max-width: 320px) {
    #socmed-image {
        height: 35px;
        width: 35px;
    }
  }
  
  